ol {
    max-height: max-content;
    overflow: auto;
}

li {
    padding: 10px;
    list-style: decimal-leading-zero;
}

li:nth-child(odd) {
    background-color: rgb(168, 132, 168);
}

a {
    color: rgb(112, 67, 112);
    transition: color 0.2s;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

button {
    display: inline-block;
    background-color: rgb(112, 67, 112);
    color: white;
    font-size: 16px;
    border: none;
    margin: 4px 2px;
    padding: 4px 15px;
    text-align: left;
    text-decoration: none;
}

button:hover {
    background-color: rgb(168, 132, 168);
}

.choiceB {
    display: block;
    margin: 10px 20px;
    border-radius: 8px;
}

#submitButton {
    border-radius: 4px;
}

#clearHighScores {
    border-radius: 4px;
}

#goBack {
    border-radius: 4px;
}

#startQuiz {
    border-radius: 4px;
}

#highScores {
    border-radius: 4px;
}